<div class="page-title light-background" *ngIf="pageHeading.isShow && currentUrl != '/'">
  <div class="container d-lg-flex justify-content-between align-items-center">
    <h1 class="mb-2 mb-lg-0">{{ pageHeading.menu.label }}</h1>
    <nav class="breadcrumbs" *ngIf="parts[1] != null">
      <ol>
        <li  *ngIf="parts.length >= 0 && parts[0] != null && parts[0] != ''">
          <a href="index.html" >{{ parts[0] }}</a>
        </li>
        <li  *ngIf="parts.length >= 1 && parts[1] != null && parts[1] != ''">
            <a href="#">{{ parts[1] }}</a>
        </li>
        <li  *ngIf="parts.length >= 2 && parts[2] != null && parts[2] != ''" aria-current="page">
            {{ parts[2] }}
        </li>
      </ol>
    </nav>
  </div>
</div>


