.page-content {
  padding: 20px;
  background-color: #f9f9f9;
}

.entry-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.entry-meta {
  font-size: 0.9rem;
  color: #777;
}



.comments, .reply {
  margin-top: 40px;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.reply .form-control {
  margin-bottom: 15px;
}

.btn-outline-primary {
  background-color: transparent;
  border: 2px solid #143548;
  color: #143548;
  transition: all 0.3s ease;
}

.btn-outline-primary:hover {
  background-color: #143548;
  color: white;
}

@media (max-width: 768px) {
  .entry-title {
    font-size: 1.5rem;
  }



  .btn-outline-primary {
    width: 100%;
  }
}
