<div class="container mt-5 mb-5">
  <div class="chat_window">
      <div class="top_menu">
          <div class="buttons">
              <div class="button close"></div>
              <div class="button minimize"></div>
              <div class="button maximize"></div>
          </div>
          <div class="title">
              <img src="../../../../assets/images/logo.png" width="25px" height="25px" alt="Logo">
              Chat with admin
          </div>
      </div>
      <ul class="messages"  #messages style="height: 400px; overflow-y: auto;" >
          <li class="message" *ngFor="let item of messageList"
              [ngClass]="{'left': item.message_side === 'receiver', 'right': item.message_side === 'sender'}">
              <div class="avatar"></div>
              <div class="text_wrapper">
                  <div class="name">{{ item.user }}</div>
                  <div class="text" [innerHTML]="item.message"></div>
                  <img *ngIf="isImage(item.image)" (click)="imgClick(apiUrl + '/' + item.image)"
                      [src]="apiUrl + '/' + item.image" class="img-fluid rounded chat-image" alt="Chat image" />
                  <a *ngIf="!isImage(item.image) && item.image" class="file-attachment"
                      [href]="apiUrl + '/' + item.image" download="{{ apiUrl + '/' + item.image }}">
                      <i class="fas fa-file file-icon"></i>
                      <span class="file-name">{{ item.image.replace("upload/product/", "") }}</span>
                      <i class="fas fa-download download-icon"></i>
                  </a>
              </div>
          </li>
      </ul>
      <div class="bottom_wrapper clearfix container-fluid">
        <div class="row align-items-center">
            <div class="col-8 col-sm-9">
                <div class="message_input_wrapper">
                    <input type="text" class="message_input form-control" placeholder="Message..." [(ngModel)]="messageInput"
                           (keyup.enter)="sendMessage(false)" />
                </div>
            </div>
            <div class="col-4 col-sm-3 text-right">
                <div class="send_message btn btn-primary" (click)="sendMessage(false)">
                    <div class="text">Send</div>
                </div>
            </div>
        </div>
        <app-image-upload class="mb-2 shadow-sm" [isShowImg]="false"
                          (changeFile)="changeFileName($event)" [imageUrl]="imgName"></app-image-upload>
    </div>
  </div>
</div>

<audio #notificationSound src="../../../../assets/audio/notification.mp3"></audio>
